<!--
<form>
    <input type="password" name="q">
    <input type="submit"></input>
</form>
-->

<form>
    <input type="checkbox" name="q">
    <input type="checkbox" name="q">
    <input type="checkbox" name="q">
    <br>         
    <input type="submit"></input>
</form>

<form>
    <input type="radio" name="q" value="one">
    <input type="radio" name="q" value="two">
    <input type="radio" name="q" value="three">
    <br>
    <input type="submit"></input>
</form>